body {
  background-color: rgb(174, 216, 243);
  padding: 20px;
  margin: 0;
}
h1 {
  color: rgb(31, 72, 100);
  font-family: sans-serif;
}
h2, p, ul, li, p {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: rgb(54, 162, 235);
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}