h1, h2, h3, h4, h5, p, ul, li, p, a {
    font-family: sans-serif;
  }

  .btn.btn-squared {
  margin: 10px;
}

.btn-outline-primary:not(:disabled):not(.disabled).active{
  background-color: transparent;
}
.h5 {
  margin-bottom: 12px;
}